numpy>=1.13.0
setuptools>=36.0.1
scandir>=1.5
Jinja2[all]>=2.9.6
matplotlib[plot]>=2.0.2
Pillow[image]>=4.1.1
joblib[file]>=0.11
pycuda[all]
pympler[all]
ujson[json]>=1.2.1
noise[perlin]>=1.2.2
wget[file]>= 3.2
h5py[h5]>=2.7.0
scikit-image[plot]>=0.13.0
scikit-image[image]>=0.13.0
